<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">

    <md-content>
        <md-list flex>
            <div class="user-box" layout="column" style="align-items: center">
                <span class="name">{{user.local.name}}</span>

                {% if user.local.role === 'teacher' %}
                <span class="role">教師</span>
                {% else %}
                <span class="role">{{user.local.role}}</span>
                {% endif %}
                <div layout="row">
                    <md-button layout="row" class="profile" onclick="window.location.href = '/home/profile' "><i
                            class="material-icons">account_box</i> 個人資料
                    </md-button>
                    <md-button class="md-primary" layout="row" onclick="window.location.href = '/logout' "><i
                            class="material-icons">exit_to_app</i> 登 出
                    </md-button>
                </div>
            </div>

            <md-divider></md-divider>
            <md-list-item href="/home/teacher/manageHomework">
                <div class="md-list-item-text" layout="column">
                    <span>管理功課</span>
                </div>
            </md-list-item>
            <md-list-item href="/home/teacher/manageGroups">
                <div class="md-list-item-text" layout="column">
                    <span>管理小組</span>
                </div>
            </md-list-item>
            <md-list-item href="/home/teacher/questions">
                <div class="md-list-item-text" layout="column">
                    <span>題庫</span>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</md-sidenav>