{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<style>
html{
  background-color: #fafafa !important;
}
</style>
<script type="text/javascript" src="/js/ng-app-login.js"></script>
<div>
  <div ng-app="ipkms" ng-controller="loginController" ng-cloak>
    <h1 style="text-align:center;margin:0;padding-top:20px;padding-bottom:20px">iPkms<br>

      <button onClick="window.location='logout';" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        登出(dev use)
      </button>
      <button ng-click="switchLogin()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        {[{loginOption}]}
      </button>
    </h1>

    <form class="mdl-shadow--2dp" ng-submit="submitTeacher()" style="margin:0 auto;max-width:280px;background-color:#fff;padding-top:10px" ng-show="!studentLogin">
      <p style="padding:10px 0px 10px 20px;margin:0;font-size:18px;border-left:5px solid #3F51B5">教師登入</p>
      <p style="margin:0;padding-left:25px;color:#F44336">{[{teacherLoginError}]}</p>
      <div style="padding:5px 25px 15px 25px;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" name="email" id="teacher_email" ng-model="teacher.email">
          <label class="mdl-textfield__label" for="teacher_email">教師郵箱</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" name="password" id="teacher_password" ng-model="teacher.password">
          <label class="mdl-textfield__label" for="teacher_password">密碼</label>
        </div>

        <div>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="width:100%;margin-top:10px">
            登入
          </button>
        </div>
      </div>

    </form>

    <form class="mdl-shadow--2dp" action="/login/student" method="post" style="margin:0 auto;max-width:280px;background-color:#fff;padding-top:10px" ng-show="studentLogin">
      <p style="padding:10px 0px 10px 20px;margin:0;font-size:18px;border-left:5px solid #3F51B5">學生登入</p>

<div style="padding:5px 25px 15px 25px;">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="schoolid" pattern="-?[0-9]*(\.[0-9]+)?" id="schoolid">
        <label class="mdl-textfield__label" for="schoolid">學生ID</label>
        <span class="mdl-textfield__error">學生ID由數字組成！</span>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" name="password" id="student_password">
        <label class="mdl-textfield__label" for="student_password">密碼</label>
      </div>

      <div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="width:100%;margin-top:10px">
          登入
        </button>
      </div>
</div>
    </form>
  </div>
</div>

{% endblock %}
