<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/css/login.css">

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>


    <script src="/js/ng-app.js"></script>
    <script type="text/javascript" src="/js/ipkms-login/main.js"></script>

    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="/static/material-icons/material-icons.css">

</head>

<body>
<div>
    <div ng-app="login" ng-controller="LoginController" ng-cloak>
        <h1 class="logo md-display-3">iPkms</h1>

        <div class="login-card md-whiteframe-4dp">

            <div class="switch-login-button" layout="row">
                <md-button class="md-accent" ng-click="switchLogin()">
                    <span>{[{loginOption}]}</span>
                </md-button>
            </div>

            <p class="login-type" ng-show="!studentLogin">教師登入</p>
            <p class="login-type" ng-show="studentLogin">學生登入</p>

            <p class="login-error">{[{LoginError}]}</p>

            <div  ng-show="!studentLogin">

                <div class="form-body">

                    <md-input-container class="md-block" style="margin-bottom: 0">
                        <label>教師郵箱</label>
                        <input type="email" ng-model="teacher.email">
                    </md-input-container>

                    <md-input-container class="md-block" style="margin-bottom: 0">
                        <label>密碼</label>
                        <input type="password" id="teacher_password" ng-model="teacher.password">
                    </md-input-container>

                </div>
            </div>

            <div ng-show="studentLogin">
                <div class="form-body">

                    <md-input-container class="md-block" style="margin-bottom: 0">
                        <label>學生ID</label>
                        <input type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="student.schoolid">
                    </md-input-container>

                    <md-input-container class="md-block" style="margin-bottom: 0">
                        <label>密碼</label>
                        <input type="password" ng-model="student.password">
                    </md-input-container>

                </div>
            </div>

            <div style="text-align: center;padding-bottom: 16px">
                <md-button ng-click="login()" class="login-button md-raised md-primary">登入</md-button>
            </div>

        </div>

        <!--<div class="login-card md-whiteframe-4dp" ng-show="studentLogin">-->
            <!--<div class="switch-login-button" layout="row">-->
                <!--<md-button class="md-accent" ng-click="switchLogin()">-->
                    <!--<span>{[{loginOption}]}</span>-->
                <!--</md-button>-->
            <!--</div>-->
            <!--<p class="login-type">學生登入</p>-->
            <!--<p class="login-error">{[{studentLoginError}]}</p>-->

        <!--</div>-->
    </div>
</div>
</body>
<html>
