<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/css/login.css">

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>


    <script src="/js/ng-app.js"></script>
    <script src="/js/service/ipkms-service.js"></script>
    <script type="text/javascript" src="/js/ng-app-login.js"></script>

    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="//cdn.bootcss.com/material-design-icons/2.2.0/iconfont/material-icons.css">

</head>

<body>
<div>
    <div ng-app="login" ng-controller="loginController" ng-cloak>
        <h1 class="logo md-display-3">iPkms</h1>

        <div class="login-card md-whiteframe-4dp" ng-show="!studentLogin">
            <div class="switch-login-button" layout="row">
                <md-button class="md-accent" ng-click="switchLogin()">
                    <span>{[{loginOption}]}</span>
                </md-button>
            </div>

            <p class="login-type">教師登入</p>
            <p class="login-error">{[{teacherLoginError}]}</p>
            <div class="form-body">

                <md-input-container class="md-block" style="margin-bottom: 0">
                    <label>教師郵箱</label>
                    <input type="email" ng-model="teacher.email">
                </md-input-container>

                <md-input-container class="md-block" style="margin-bottom: 0">
                    <label>密碼</label>
                    <input type="password" id="teacher_password" ng-model="teacher.password">
                </md-input-container>

                <div style="text-align: center">
                    <md-button ng-click="submitTeacher()" class="login-button md-raised md-primary">登入</md-button>
                </div>
            </div>

        </div>

        <div class="login-card md-whiteframe-4dp" ng-show="studentLogin">
            <div class="switch-login-button" layout="row">
                <md-button class="md-accent" ng-click="switchLogin()">
                    <span>{[{loginOption}]}</span>
                </md-button>
            </div>
            <p class="login-type">學生登入</p>
            <p class="login-error">{[{studentLoginError}]}</p>

            <div class="form-body">

                <md-input-container class="md-block" style="margin-bottom: 0">
                    <label>學生ID</label>
                    <input type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="student.schoolid">
                </md-input-container>

                <md-input-container class="md-block" style="margin-bottom: 0">
                    <label>密碼</label>
                    <input type="password" ng-model="student.password">
                </md-input-container>

                <div style="text-align: center">
                    <md-button ng-click="submitStudent()" class="login-button md-raised md-primary">登入</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<html>
