{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="/css/teacher-ui.css">
<script type="text/javascript" src="/js/ng-app-questions.js"></script>

<!-- Uses a header that contracts as the page scrolls down. -->
<style>
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}
</style>
<div ng-app="ipkms" ng-controller="questionsManageController">
  <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
      <!-- Top row, always visible -->
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{title}}</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
        mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
        for="waterfall-exp">
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" name="sample"
        id="waterfall-exp">
      </div>
    </div>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{title}}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/home/teacher/questions">題庫搜索/題目發佈</a>
    <a class="mdl-navigation__link" href="#">管理題目</a>
    <a class="mdl-navigation__link" href="/home/teacher/questions/manage-qcollections">管理題集</a>
  </nav>
</div>
<main class="mdl-layout__content">
  <div class="page-content">
    <t-questions></t-questions>
  </div>
</main>
</div>

</div>

{% endblock %}
