<!DOCTYPE html>
<html style="height: 100%;background: #eeeeee;">
<head>
    <meta charset="utf-8">
    <title>Quizkquiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- angular-material 1.0.5 -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>


    <script type="text/javascript" src="/bower_components/katex/dist/katex.min.js"></script>
    <link rel="stylesheet" href="/bower_components/katex/dist/katex.min.css">
    <script type="text/javascript" src="/bower_components/katex/dist/contrib/auto-render.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-katex/angular-katex.js"></script>

    <!-- Main config file-->
    <script type="text/javascript" src="/js/ng-app.js"></script>
    <script type="text/javascript" src="/js/service/ipkms-service.js"></script>
    <script type="text/javascript" src="/js/quick-quiz/quickquiz.js"></script>


    <!-- Angular Material Library -->
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="//cdn.bootcss.com/material-design-icons/2.2.0/iconfont/material-icons.css">

    <link rel="stylesheet" href="/css/quickquiz.css">
</head>

<body id="quickquiz-sheet">
<div ng-app="quickquiz" ng-controller="mainController" style="height: 100%;">

    <div layout="column" layout-fill style="height: 100%;">
        <md-toolbar class="md-whiteframe-4dp">
            <div class="md-toolbar-tools">
                <h3>
                    <span>{[{quickquiz.title}]}</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content id="questions" flex style="background: #eeeeee;">

            <div class="wrapper">
                <div class="md-whiteframe-1dp" ng-show="errorCard.message !== null && errorCard.message.trim() !== ''">
                    {[{errorCard.message}]}
                </div>
                <div class="md-whiteframe-1dp" ng-show="resultCard.results !== null && resultCard.results.trim() !== ''">
                    {[{resultCard.results}]}
                </div>

                <div ng-show="quickquiz" style="background: #eeeeee;">
                    <md-list style="background: #eeeeee;">
                        <md-list-item class="question-card md-whiteframe-1dp"
                                      ng-repeat="question in quickquiz.questions"
                                      layout="column" ng-init="$last ? renderQuestions() : angular.noop()"
                                      style="padding: 0">
                            <div layout="row" style="align-items: baseline">
                                <span class="index-label">{[{ $index + 1 }]}</span>
                                <div class="md-title question-content" ng-bind-html="question.context | unsafe"></div>
                            </div>
                            <div class="choices" layout="column" style="width: 100%">
                                <div layout="row">
                                    <div class="choice choice-a"
                                         ng-class="{'choose': checkChoose($index, 0), 'right': showRight($index, 0), 'wrong': showWrong($index, 0)}"
                                         flex="50" layout="row" ng-click="answerOnChoose($index, 0)">
                                        <span class="choice-label">A</span>
                                        <div ng-bind-html="question.choices[0] | unsafe"></div>
                                    </div>
                                    <div class="choice choice-b"
                                         ng-class="{'choose': checkChoose($index, 1), 'right': showRight($index, 1), 'wrong': showWrong($index, 1)}"
                                         flex="50" layout="row" ng-click="answerOnChoose($index, 1)">
                                        <span class="choice-label">B</span>
                                        <div ng-bind-html="question.choices[1] | unsafe"></div>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div class="choice choice-c"
                                         ng-class="{'choose': checkChoose($index, 2), 'right': showRight($index, 2), 'wrong': showWrong($index, 2)}"
                                         flex="50" layout="row" ng-click="answerOnChoose($index, 2)">
                                        <span class="choice-label">C</span>
                                        <div ng-bind-html="question.choices[2] | unsafe"></div>
                                    </div>
                                    <div class="choice choice-d"
                                         ng-class="{'choose': checkChoose($index, 3), 'right': showRight($index, 3), 'wrong': showWrong($index, 3)}"
                                         flex="50" layout="row" ng-click="answerOnChoose($index, 3)">
                                        <span class="choice-label">D</span>
                                        <div ng-bind-html="question.choices[3] | unsafe"></div>
                                    </div>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>

                    <div layout="column" style="align-items: center;">
                        <div layout="row">
                            <span style="margin-right: 16px">已做: <span ng-bind="finishedQuestionsCount"></span> 題</span>
                            <span>未做: <span ng-bind="answers.length - finishedQuestionsCount"></span> 題</span>
                        </div>
                        <md-button class="md-primary md-raised" ng-click="handIn()" style="margin:16px auto"
                                   ng-hide="submitted">上交
                        </md-button>
                    </div>

                </div>

            </div>


        </md-content>
    </div>
</div>
</body>

