<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- angular-material 1.0.5 -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>

    <!-- Main config file-->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/ng-app.js"></script>
    <script type="text/javascript" src="/js/ng-chatroom.js"></script>
    <script type="text/javascript" src="/js/service/ipkms-service.js"></script>
    <script type="text/javascript" src="/js/service/chatroom.js"></script>


    <!-- Angular Material Library -->
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="//cdn.bootcss.com/material-design-icons/2.2.0/iconfont/material-icons.css">

    <link rel="stylesheet" href="/css/chatroom.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<div ng-app="chatroom" layout="column" style="height:100%;" ng-controller="chatroomController">
    <section layout="row" flex>

        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-is-open="isSidenavOpen"
                md-disable-backdrop
                md-whiteframe="4">

            <md-content>
                <md-list flex>
                    <div class="user-box" layout="column" style="align-items: center">
                        <span class="name">{{user.local.name}}</span>
                        {% if user.local.role === 'teacher' %}
                        <span class="role">教師</span>
                        {% elseif user.local.role === 'student' %}
                        <span class="role">學生</span>
                        {% else %}
                        <span class="role">{{user.local.role}}</span>
                        {% endif %}
                        <div layout="row">
                            <md-button layout="row" class="profile" onclick="window.location.href = '/home/profile' "><i
                                    class="material-icons">account_box</i> 個人資料
                            </md-button>
                            <md-button class="md-primary" layout="row" onclick="window.location.href = '/logout' "><i
                                    class="material-icons">exit_to_app</i> 登 出
                            </md-button>
                        </div>
                    </div>

                    <md-divider></md-divider>
                    <md-list-item class="group-list-item" ng-repeat="group in myGroups" ng-click="selectRoom(group.name, group._id)" ng-class="{'active-group': roomId === group._id}">
                        <div class="md-list-item-text" layout="column">
                            <div layout="row">
                                <span class="name">{[{group.name}]}</span>
                                <span><span class="unread-count" ng-show="unreadCount[group._id]">{[{unreadCount[group._id]}]}</span></span>
                            </div>
                        </div>
                    </md-list-item>

                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content id="scrollBox" layout="column" style="flex: 1; background-color: #E9E2DC">
            <md-toolbar class="md-whiteframe-2dp" style="position: fixed">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="toggleLeftNav()">
                        <i class="material-icons">menu</i>
                    </md-button>
                    <h2 style="padding-left: 16px">
                        <span>{[{roomName}]}</span>
                    </h2>
                </div>
            </md-toolbar>

            <div id="messageBox">
                <div>
                    <div class="message" ng-repeat="msg in historyMessages[roomId]" ng-class="{'tail-selfmsg': selfMessage(msg.userid)}">
                        <div ng-class="{'message-in': !selfMessage(msg.userid), 'message-out':selfMessage(msg.userid)}">
                            <a class="sender" ng-style="{'color': msg.nameColor }" href="/home/profile/{[{msg.userid}]}">{[{msg.username}]}</a>
                            <div layout="row" style="align-items: baseline">
                                <p class="contents" style="margin:0">{[{msg.contents}]}</p>
                                <span class="date">{[{msg.date | date:"M月d h:mm a"}]}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-marker">歷史消息</div>
                <div style="margin-bottom:80px">
                    <div class="message" ng-repeat-start="msg in messages[roomId]" ng-class="{'tail-selfmsg': selfMessage(msg.userid)}">
                        <div ng-class="{'message-in': !selfMessage(msg.userid), 'message-out':selfMessage(msg.userid)}">
                            <a class="sender" ng-style="{'color': msg.nameColor }" href="/home/profile/{[{msg.userid}]}">{[{msg.username}]}</a>
                            <div layout="row" style="align-items: baseline">
                                <p class="contents" style="margin:0">{[{msg.contents}]}</p>
                                <span class="date">{[{msg.date | date:"h:mm a"}]}</span>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-marker" ng-if="$index === unreadLine[roomId]" ng-repeat-end>新消息</div>

                </div>

                <div class="message-inputs" layout="row">

                    <div style="margin:0 20px;flex:1 1 auto">
                        <input ng-model="msg.content"
                               style="width: 100%;height: 20px;border: none;padding: 10px;margin-top: 10px;border-radius:5px"
                               placeholder="輸入信息" ng-keypress="listenForEnter($event)"/>
                    </div>
                    <md-button ng-click="sendMessage()" class="md-icon-button" style="margin:10px 20px">
                        <i class="material-icons" style="color:#9E9E9E">send</i>
                    </md-button>
                </div>
            </div>
        </md-content>
    </section>


</div>
</body>
