<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- angular-material 1.0.5 -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>

    <!-- Main angular config file-->
    <script type="text/javascript" src="/js/ng-app.js"></script>
    <script type="text/javascript" src="/js/service/ipkms-service.js"></script>
    <script type="text/javascript" src="/js/teacher/home.js"></script>


    <!-- Angular Material Library -->
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="/static/material-icons/material-icons.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/teacher-ui.css">
</head>

<body>
<div ng-app="ipkms.teacherHome" layout="column" style="height: 100%;" ng-controller="TeacherHomeController">
    <section layout="row" flex>

        {% include "../component/sidenav.html" %}
        <md-content layout="column" style="flex:1;background-color: #eeeeee">
            <md-toolbar class="md-whiteframe-2dp">
                <div class="md-toolbar-tools">
                    <h2 style="padding-left: 16px">
                        <span>主頁</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
        </md-content>
    </section>
</div>
</body>
