<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- angular-material 1.0.5 -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>

    <!-- Main angular config file-->
    <script type="text/javascript" src="/js/ng-app.js"></script>
    <script type="text/javascript" src="/js/service/ipkms-service.js"></script>
    <script type="text/javascript" src="/js/teacher/group.js"></script>


    <!-- Angular Material Library -->
    <script src="/bower_components/angular-material/angular-material.min.js"></script>

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="//cdn.bootcss.com/material-design-icons/2.2.0/iconfont/material-icons.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/teacher-ui.css">
</head>

<body>
<div ng-app="teacherManageGroups" layout="column" style="height:100%;" ng-controller="groupsManageController">
    <section layout="row" flex>

        {% include "../component/sidenav.html" %}

        <md-content layout="column" style="flex:1;background-color: #eeeeee">
            <md-toolbar class="md-whiteframe-2dp">
                <div class="md-toolbar-tools">
                    <h2 style="padding-left: 16px">
                        <span>管理小組</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-raised" style="margin-right: 8px" ng-click="showNewGroupForm()">創建新小組
                    </md-button>
                </div>
            </md-toolbar>
            <md-progress-linear ng-if="!grabingGroupsData" class="md-accent" md-mode="query"></md-progress-linear>
            <md-tabs md-border-bottom md-center-tabs flex="100">
                <md-tab label="我的小組" >
                    <md-content class="md-padding" style="background-color: #eeeeee">
                        <div layout="row" layout-wrap>
                            <div class="group-card" flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25"
                                 ng-repeat="group in myGroups">
                                <md-card>
                                    <div layout="row" style="align-items: baseline">
                                        <h2 class="title">{[{group.name}]}</h2>
                                        <span class="public">{[{bTt(group.public.boolean)}]}</span>
                                    </div>


                                    <md-card-content>
                                        <span class="students" layout="row">
                                            <i class="material-icons"">people</i>
                                            <b>{[{group.students}]}</b>
                                        </span>
                                    </md-card-content>
                                    <div class="md-actions" layout="row" layout-align="end">
                                        <md-button class="md-primary" ng-click="showGroupDialog($event, group)">查看小组
                                        </md-button>
                                        <md-menu md-position-mode="target-right target" style="padding:0">
                                            <md-button aria-label="Open demo menu" class="md-icon-button"
                                                       ng-click="$mdOpenMenu($event)" style="margin:0; color: #3F51B5;">
                                                <i class="material-icons">more_vert</i>
                                            </md-button>
                                            <md-menu-content width="2">
                                                <md-menu-item>
                                                    <md-button ng-click="deleteGroup(group._id)">
                                                        <div layout="row" style="color: #F44336;align-items: center;">
                                                            <i class="material-icons">close</i>
                                                            <p>删除小組</p>
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </md-card>
                            </div>
                        </div>

                    </md-content>
                </md-tab>
                <md-tab label="公開小組" md-on-select="getPublicGroups()">
                    <md-content class="md-padding" style="background-color: #eeeeee">
                        <div layout="row" layout-wrap>
                            <div class="group-card" flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25"
                                 ng-repeat="group in publicGroups">
                                <md-card>
                                    <div layout="row" style="align-items: baseline">
                                        <h2 class="title">{[{group.name}]}</h2>
                                        <span class="public">{[{bTt(group.public.boolean)}]}</span>
                                    </div>


                                    <md-card-content>
                                        <span class="students" layout="row">
                                            <i class="material-icons"">people</i>
                                            <b>{[{group.students}]}</b>
                                        </span>
                                    </md-card-content>
                                    <div class="md-actions" layout="row" layout-align="end">
                                        <md-button class="md-primary" ng-click="showGroupDialog($event, group)">查看小组
                                        </md-button>
                                    </div>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>


</div>
</body>
