<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- angular-material 1.0.5 -->
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/tinymce-dist/tinymce.min.js"></script>


    <!-- Main angular config file-->
    <script type="text/javascript" src="/js/ng-app.js"></script>
    <script type="text/javascript" src="/js/service/ipkms-service.js"></script>
    <script type="text/javascript" src="/js/teacher/homework.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>


    <!-- Angular Material Library -->
    <script src="/bower_components/angular-material/angular-material.min.js"></script>


    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="/static/material-icons/material-icons.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/teacher-ui.css">
</head>

<body>
<div ng-app="ipkms.teacherManageHomework" layout="column" style="height:100%;" ng-controller="HomeworksManageController">
    <section layout="row" flex>

        {% include "../component/sidenav.html" %}

        <md-content layout="column" style="flex:1; background-color: #eeeeee">
            <md-toolbar class="md-whiteframe-2dp">
                <div class="md-toolbar-tools">
                    <h2 style="padding-left: 16px">
                        <span>管理功課</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-raised" style="margin-right: 8px" ng-click="showNewHomeworkForm($event)">創建新功課
                    </md-button>
                </div>
            </md-toolbar>
            <md-progress-linear ng-if="grabingGroupsData" class="md-accent" md-mode="query"></md-progress-linear>

            <div layout="row" style="flex-grow:1" ng-init="sortByDate = true ; upsort = true">
                <md-list flex="25" class="secondary-panel">
                    <md-list-item>
                        <i class="material-icons" style="margin-right:5px">sort</i>
                        <p>篩選排序</p>
                    </md-list-item>
                    <md-list-item class="sec-panel-list-item" ng-click="order('none')">
                        <i class="material-icons">event_note</i>
                        <p>日期</p>
                        <i class="material-icons" ng-show="predicate == 'none' && reverse == false">arrow_drop_up</i>
                        <i class="material-icons" ng-show="predicate == 'none' && reverse == true">arrow_drop_down</i>
                    </md-list-item>
                    <md-list-item class="sec-panel-list-item" ng-click="order('delivery')">
                        <i class="material-icons">assignment_turned_in</i>
                        <p>發佈狀態</p>
                        <i class="material-icons"
                           ng-show="predicate == 'delivery' && reverse == false">arrow_drop_up</i>
                        <i class="material-icons"
                           ng-show="predicate == 'delivery' && reverse == true">arrow_drop_down</i>
                    </md-list-item>
                </md-list>

                <md-list flex="75" ng-cloak style="background-color:#fff">
                    <md-list-item class="thomework-list-item"
                                  style="padding-bottom:8px;border-bottom:1px solid #BCAAA4">
                        <span class="h-delivery-status" style="color:#8D6E63">發佈狀態</span>
                        <p class="h-title" style="font-size:14px;color:#8D6E63">功課名稱</p>
                        <!-- <span class="h-delivery-date">發佈日期<span> -->
            <span class="h-create-date">創建日期<span>
            <span style="margin-left:15px">操作<span>

                    </md-list-item>
                    <md-list-item class="thomework-list-item" ng-class-even="'even-list-item'"
                                  ng-class="{'green-list-status' : homework.delivery, 'orange-list-status' : !homework.delivery}"
                                  ng-click="showThomeworkDialog($event, homework)"
                                  ng-repeat="homework in MyThomeworks | orderBy:predicate:reverse">
                        <span class="h-delivery-status"
                              ng-class="{'green-h-delivery-status' : homework.delivery, 'orange-h-delivery-status' : !homework.delivery}">{[{ bTd(homework.delivery) }]}</span>
                        <div class="h-tags" ng-if="homework.tags.length > 0">
                            <i class="material-icons">local_offer</i>
                            <md-tooltip>
                                {[{arrayToString(homework.tags)}]}
                            </md-tooltip>
                        </div>
                        <p class="h-title"> {[{ homework.title }]} </p>
                        <span class="h-create-date">{[{ idToDate(homework._id) |date:"MM'月'dd'日'" }]}</span>
                        <md-menu md-position-mode="target-right target" style="padding:0">
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)"
                                       style="margin:0;padding-right:0">
                                <i class="material-icons" style="color:#212121;margin-top:3px">more_vert</i>
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button ng-click="deleteThomework(homework._id)">
                                        <div layout="row" style="color:#E91E63; align-items: center" >
                                            <i class="material-icons">close</i>
                                            <p flex>删除功课</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-list-item>
                </md-list>

            </div>

        </md-content>
    </section>


</div>
</body>
