{% extends '../layout/vue-layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<script>
Vue.component('my-component', {
    // 模板
    template: '<div>{[{msg}]} {[{privateMsg}]}</div>',
    // 接受参数
    props: {
        msg: String
    },
    // 私有数据，需要在函数中返回以避免多个实例共享一个对象
    data: function () {
        return {
            privateMsg: 'component!'
        }
    }
});
</script>
<div>
  <div id="app">
    <my-component msg="hello"></my-component>
  </div>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!'
  }
});
</script>

{% endblock %}
