<md-dialog aria-label="建立新功課" class='homework-dialog' layout="column">
    <form name="newhomeworkForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span class="md-title">建立新功課</span>
                <i class="material-icons" style="margin-left:5px;color:#9E9E9E"
                   ng-style="newhomework.title && {'color':'#009688'}">check_circle</i>
                <i class="material-icons" style="margin-left:5px;color:#9E9E9E"
                   ng-style="newhomework.requirement && {'color':'#009688'}">check_circle</i>
                <i class="material-icons" style="margin-left:5px;color:#9E9E9E"
                   ng-style="newhomework.subject && {'color':'#009688'}">check_circle</i>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" style="color: #212121">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-top:10px;">
                <md-input-container class="md-block">
                    <input name="title" style="font-size:18px" ng-model="newhomework.title" placeholder="功課標題（必填）"
                           required>
                </md-input-container>

                <p class="cos-input-title">詳細要求</p>
                <textarea ui-tinymce="tinymceOptions" ng-model="newhomework.requirement"></textarea>

                <div layout="column">
                    <div flex="100">
                        <md-input-container class="md-block">
                            <md-select placeholder="所屬科目（必填）" ng-model="newhomework.subject" required>
                                <md-option style="border-color:#795548" ng-repeat="subject in subjects"
                                           value="{[{subject.id}]}">
                                    {[{subject.name}]}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="100">
                        <md-chips
                                ng-model="newhomework.tags"
                                placeholder="輸入標籤"
                                secondary-placeholder="+關鍵字"></md-chips>
                        <br/>
                    </div>

                </div>

                <div style="border: 1px dashed #212121;padding: 16px 0 0 10px;margin:40px 0">
                    <md-radio-group ng-model="newhomework.delivery" required>
                        <md-radio-button value="false" class="md-primary">先將該功課保存，在將來分發給小組或同學</md-radio-button>
                        <md-radio-button value="true">現在就將功課分發給指定小組或同學</md-radio-button>
                    </md-radio-group>
                </div>

                <div ng-show="newhomework.delivery == 'true'">
                    <div layout="column">
                        <div layout="row" style="align-items: center">
                            <p class="cos-input-title">目標小組</p>
                            <md-select placeholder="選擇小組或者班級" ng-model="newhomework.targetGroup"
                                       md-on-open="loadMyGroups()"
                                       style="margin: 0 0 6px 16px;">
                                <md-optgroup label="我的小組">
                                    <md-option value="{[{group.id}]}"
                                               ng-repeat="group in groupsClasses | filter: {category: 'group' }">
                                        {[{group.name}]}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </div>
                        <div layout="row" style="align-items: center;margin-top: 16px">
                            <p class="cos-input-title">上交日期</p>
                            <md-datepicker ng-model="newhomework.deadline" md-placeholder="選擇上交日期" style="margin-bottom: 12px">
                            </md-datepicker>
                        </div>

                    </div>

                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-primary md-raised" style="margin-right:20px;color:#fff" ng-click="createHomework()"
                       ng-disabled="newhomeworkForm.$invalid">建立
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
