body {
    background-color: #fafafa !important
}

.logo {
    text-align: center;
    margin: 0;
    padding: 30px 0
}

.login-card {
    margin: 0 auto;
    max-width: 280px;
    background-color: #fff;
    padding-top: 10px
}

.login-card > .login-type {
    padding: 10px 0px 10px 20px;
    margin: 0;
    font-size: 18px;
    border-left: 6px solid #3F51B5;
}

.switch-login-button {
    float: right;
    display: flex;
    align-items: center;
}

.switch-login-button > i {
    margin-right: 5px;
}

.login-card > .login-error {
    font-size: 13px;
    margin: 5px 0;
    color: #F44336;
    text-align: center;
}

.login-card  .form-body {
    padding: 5px 25px 0 25px;
}

.login-button {
    margin-top: 10px
}
