*:focus {
    outline: none;
}
a {
  color: #00B7FF;
}

td {
  vertical-align: middle !important;
}
.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.overflow {
  width: 90%;
  /**
  * Required properties to achieve text-overflow
  */
  white-space: nowrap;
  overflow: hidden;
}

.chipsdemoContactChips md-content.autocomplete {
  min-height: 250px; }
.chipsdemoContactChips md-content.autocomplete input {
  min-width: 400px; }

.chipsdemoContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px; }

.chipsdemoContactChips .contact-item {
  box-sizing: border-box; }
.chipsdemoContactChips .contact-item.selected {
  opacity: 0.5; }
.chipsdemoContactChips .contact-item.selected h3 {
  opacity: 0.5; }
.chipsdemoContactChips .contact-item .md-list-item-text {
  padding: 14px 0;
  max-width: 190px; }
.chipsdemoContactChips .contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important; }
.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
@media screen and (min-width: 960px) {
  .chipsdemoContactChips .contact-item {
    float: left;
    width: 33%; } }

.chipsdemoContactChips md-contact-chips {
  margin-bottom: 10px; }

.chipsdemoContactChips .md-chips {
  padding: 5px 0 8px; }

.chipsdemoContactChips .fixedRows {
  height: 250px;
  overflow: hidden; }

.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px; }

.chipsdemoCustomInputs input[type=number] {
  width: 110px; }


.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 10px 0 4px 10px;
  background: #EC407A;
  border-radius: 3px;
  cursor:pointer;}

.chipsdemoCustomInputs .veggie-option .md-item-text a {
  font-size: 18px;
  color: #fff;
}

.chipsdemoCustomInputs .veggie-option .md-item-text p {
  color: #fff;
  padding: 0;
  margin: 0; }

.demo-card-event.mdl-card {
  width: 100%;
  background: #fff;
}

.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.g-student-card .md-item-text{
  border: 1px solid #607D8B;
border-radius: 5px;
transition: 0.5s;

}

.g-student-card .md-item-text-edit{
  border: 1px solid #E91E63;
border-radius: 5px;
transition: 0.5s;


}


.g-student-card .s-name-edit{
  color:#E91E63;
  margin:10px 0 10px 15px;
  font-size:18px;
  transition: 0.5s;

}

.g-student-card .s-name{
  color:#607D8B;
  margin:10px 0 10px 15px;
  font-size:18px;
  transition: 0.5s;
}

.g-student-card .md-item-text-query{
  border: 1px solid #009688;
border-radius: 5px;
transition: 0.5s;

}

.g-student-card .s-name-query{
  color:#009688;
  margin:10px 0 10px 15px;
  font-size:18px;
  transition: 0.5s;
}

.g-student-card .s-id{
  margin:0 0 10px 15px;
  font-size:14px;
}

.user-avatar{
  width:48px;
  height: 48px;
  border-radius: 24px;
}

.user-drawer-header{
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.button-icon-left{
  float: left;
margin-top: 10px;
font-size: 16px !important;
}

.subtitle-icon-left{
  font-size: 18px !important;
  float: left;
  margin-top: -2px;
  margin-right: 5px;
}

/*.message-in::before{
  content: '';
  position: absolute;
  left: 4px;
  margin-top: 4px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.message-out::before{
  content: '';
  position: absolute;
  right: 4px;
  margin-top: 4px;
  width: 12px;
  height: 19px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}*/

.message-in {
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  max-width: 300px;
  box-shadow: 0 1px .5px rgba(0,0,0,.13);
}

.message-out {
  text-align: left;
  margin: 10px 0;
  background-color: #dcf8c6;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  max-width: 300px;
  box-shadow: 0 1px .5px rgba(0,0,0,.13);
}

/*.message-in::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADGUExURQAAAP////b29vn5+f///wAAAP///wAAAAAAAP///9ra2v////j4+PHx8fv7++Hh4fHx8f////////////////39/QAAAP////////z8/P////39/f39/fz8/P////////////z8/P////////////z8/P////////////v7+/Hx8f///9bW1vz8/K2trf////39/f39/WJiYgAAAExMTFtbWwAAAN3d3cjIyPr6+vX19QAAAO7u7vz8/NTU1Ofn5zMzM////zGPlXsAAABBdFJOUwAcm/kREh4CCDWL1SneR6TfAQffhMYK/A5nRrLWfRc5DW2ih5f+19Kn+9v4g/1LCJuXHwQUKgahcXS6DNnlDMMKKzPoTgAAAKBJREFUKM+V08USwmAQA+C/0NIWd3d3d8/7vxTMcIPkQK7f7CG7s8bQAOY/SCuwFYQU1P+eiCqIK2gpWCmoCrAgoKQgJ8CHgIqAMjg0MxxSQ3DogEMWFBZtUPAHYGB1CyDQWE6AH7BrfXzlAxGAQhECTGAmwN1Okz0Gb/LW4fEItIfrOfNELMh3tck7u+PhcT2zQ7l77/K8iY8yJwV3BeYFqpc/uSyPGdAAAAAASUVORK5CYII=)
}

.message-out::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAD2UExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRsXAAAANzwzNPmxNrtyau5oIWRedDkwNntyczgwdfpyJ+/n97wzsLWtNjsytvwzczfvtPmxau6nNjqxtrtyio1KtzwzNjryAAAANzwzgAAANzwzK7Aor/Us9Lnw8vevAAAAMzevtbpxrvMrX+IdwAAAEROOi45Lr3MrZGjf9LoxX+MctnqydLkwhgYGMzfv9vuyQAAANzwzNvuy9zxy7vMu7XGqNvtzKKykwAAANruzKq6nLnMriQkGMXXuL3PsNjsySgzKAAAANLkw83fvd3vy9z4xtzwzRpFmIEAAABQdFJOUwAXChEGBAMBAgwhDvJ7k0YqMc0Zmwj6apf2kjU0+dkw/swh/CP9j2Wr2gndvaYeBRoxQg6gUPt/FaHJGdTj9A9k7XQLeE6iFcN12xkSt9r4NKizowAAAMFJREFUKM+V0sdywlAMBVDbMX7PQCihQ+iQ0HsJvfem/P/PwBIzugu0PXNnNNJVyPmhsIPhhoB2COwIGuLdhAcl3AhCBoBoHUC6BCBbA0C/EkBFB5D/FjxQwQYg1RI8UKINgDoSAPUlAPqUAMgfAEBfXsEDBV0+Hogi4Zhg4THj9YwHoqEBYOrgYTI3GVgMNn8r+Qq94k9yZNosW/3Hy9VuTjWfHkOX6367bGZUU7de66ieHZrO1OGg8Z1WTgYAFLgD5S1PCkzo1B0AAAAASUVORK5CYII=)
}*/

.tail-selfmsg {
  text-align: right;
}

.message-inputs {
  position:fixed;bottom:0;left:0;right:0;background-color:rgb(243, 240, 239);margin-left: 240px
}

@media screen and (max-width: 1024px){
  .message-inputs {
    position:fixed;bottom:0;left:0;right:0;margin-left:0;background-color:rgb(243, 240, 239)
  }
}
